.inline-photo {
  opacity: 0;

  transition: 
              opacity .3s .35s ease-out;
  will-change: transform, opacity;
}

.inline-photo.is-que {
  opacity: 1;  
  transition: opacity .5s .35s ease-out;
}

