@charset "utf-8";
/*background edits*/
body{ 
  width: auto;
  overflow:auto;
  margin: 0%;
}
html{
  
  scroll-behavior: smooth;
  width: auto;
  overflow: visible;
}
h2#proj{
  text-decoration: underline;
  font-size: 50px;
  
}
/*  the about page */
.about{
text-align: center;
font-size: 25px;


}

#about{
  display: block;
  padding-left: 40px;
  padding-right: 40px;
 
}
p#top{
  text-align: center;
}
h2#proj{
  text-align: center;
  font-size: 60px; 
  margin-top: 0%; 
  
}
.proj{
 background-color: #fae9e9;
  text-align: center;
 
}
#nice{
  width: 479px;
  height: 324px;
}

#Contact{
  text-align: center;
  border: solid 2px black;
}
/*home screen*/
#az{
  width: 100%;
 height: 90%;
 background-attachment: fixed;
}

#center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
.title {
  position: relative;
  text-align: center;
  color: white;
  margin: 0%;
  background-color: #552334;
}

h1{
  font-size: 50px;
  

}
strong{
  font-size: 100px;
  color: #fff7fb;
}
#name{
  color: #000000;
}

#navbar{
  z-index: 99;
}

h1#mes{
  text-align: center;
  text-decoration: underline;
}

/*button edits*/
button#king{
   text-decoration: none;
   color: #ffc933;
   border: #ffcd28 3px double;
 background-color: transparent;
  height: 70px;
  width: 50;
  text-align: center;
  vertical-align: center;
  font-size: 25px;
  margin-left: 90px;
    margin-right: 90px;
}


#king span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#king span:after {
  content: '\2193';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#king:hover span {
  padding-right: 25px;
  
 
}

#king:hover span:after {
  opacity: 1;
  right: 0;

}






/*bar key */  
  #myProgress {
    width: 100%;
    background-color: #ddd;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  #Bar {
    width: 10%;
    height: 30px;
    background-image: linear-gradient( 135deg, #FCCF31 5%, #F55555 100%);
    text-align: center;
    line-height: 30px;
    color: white;
    
  }
  
  #label {
    text-align: center;
    line-height: 30px;
    color: rgb(0, 0, 0);
  }

  #myBar {
    width: 10%;
    height: 30px;
     background-image: linear-gradient( 135deg, #FCCF31 5%, #F55555 100%);
    text-align: center;
    line-height: 30px;
    color: white;
    
  }


  #dour {
    width: 10%;
    height: 30px;
    background-image: linear-gradient( 135deg, #FCCF31 5%, #F55555 100%);
    text-align: center;
    line-height: 30px;
    color: white;
    
  }
  #modes {
    width: 10%;
    height: 30px;
    background-image: linear-gradient( 135deg, #FCCF31 5%, #F55555 100%);
    text-align: center;
    line-height: 30px;
    color: white;
    
  }

.Progress-bar{
  width: 90%;
  
}

#skilled{
  text-align: center;
  text-decoration: underline;
}



/*nav bar*/
#navbar {
  overflow: hidden;
  background-color: #552334;
  width: 100%;
  height: auto;

}
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#navbar a:hover {
  background-color: #ddd;
  color: black;
}
#navbar a.active {
  background-color: #ffcd28;
  color: white;
  
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;

}

/*about me*/
p#speech{
  text-align:center;
}
#About-me{
  font-family: 'Roboto Condensed', sans-serif;
}



/**/
/*contact me */
.mall{
  background-color:#663344 ; 
  padding-top: 20px
}
#Contact{
  text-decoration: none;
  color: #ffc933;
  border: #ffcd28 3px double;
background-color: transparent;
 height: 70px;
 width: 30%;
 text-align: center;
 
 font-size: 25px;
 display: block;
  margin-left: auto;
   margin-right: auto;
   

  
}

#Contact span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#Contact span:after {
  content: '\2709';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#Contact:hover span {
  padding-right: 40px;
  
 
}

#Contact:hover span:after {
  opacity: 1;
  right: 0;

}


/*resume*/

#rester{
  text-decoration: none;
  color: #ffc933;
  border: #ffcd28 3px double;
background-color: transparent;
 height: 70px;
 width: 30%;
 text-align: center;
 margin-top: 10px;
 font-size: 25px;
 display: block;
  margin-left: auto;
   margin-right: auto;
   

  
}

#rester span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#rester span:after {
  content: '\2709';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#rester:hover span {
  padding-right: 40px;
  
 
}

#rester:hover span:after {
  opacity: 1;
  right: 0;

}
/*Footer*/
.site-footer {
  background-color: #663344;
	text-align: center;

	padding: 10px 0;
}

#social-wrapper {
	text-align: center;
}

/*Social Media Icons*/
.social-wrapper {
	text-align: center;
}

.social-wrapper ul li {
	display: inline;
	margin: 0 5px;
}

.twitter-icon,
.facebook-icon,
.instagram-icon,
.linkedin-icon,
.googleplus-icon,
.youtube-icon,
.foursquare-icon{
	margin-top: .625em;
	width: 40px;
	height: 40px;
	opacity: .6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
  border-radius: 25px;
}

.twitter-icon:hover,
.facebook-icon:hover,
.instagram-icon:hover,
.linkedin-icon:hover,
.googleplus-icon:hover,
.youtube-icon:hover,
.foursquare-icon:hover {
	opacity: 1.0;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

.footer-nav p {
	text-align: center;
}



/*flex containers*/

.flex-containers{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  margin-bottom: 15%;
}
.flex-containers{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  
}
.flex-next{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  
}
.flex-can{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  
}


/*Flexboxes*/
.flex-items:nth-child(1) {
  width: 50%;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  width: 50%;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  margin: 1%;
  
  
}
#flex-item{
  width: 100%;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
.flex-item{
  width: 100%;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}


  
#flex-deal:nth-child(1) {
  width: 50%;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
#flex-deal:nth-child(2) {
  width: 50%;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
#flex-neal:nth-child(1) {
  width: 50%;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
#flex-neal:nth-child(2) {
  width: 50%;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}






/*grid*/


grid-container { 
  display: grid; 
  grid-template-columns: 1fr 1.4fr 0.6fr 1fr 1fr; 
  grid-template-rows: 1fr 0.4fr 1.4fr 1.2fr 1fr 1fr 1fr 1fr; 
  gap: 1px 1px; 
   
} 
.Projects { 
  display: grid; 
grid-template-columns: 1fr 1.3fr 1.1fr 0.2fr 1.1fr 1.3fr 1fr; 
grid-template-rows: 1fr 1.2fr 1.1fr 0.3fr 1.1fr 1.1fr 1.2fr; 
gap: 1px 1px; 
grid-template-areas: ". . . . . . ." ". pro1 pro1 . pro2 pro2 ." ". pro1 pro1 . pro2 pro2 ." ". . . . . . ." ". pro3 pro3 . pro4 pro4 ." ". pro3 pro3 . pro4 pro4 ." ". . . . . . ."; 
} 

.pro1 { grid-area: pro1; } 

.pro2 { grid-area: pro2; } 

.pro3 { grid-area: pro3; } 

.pro4 { grid-area: pro4; } 
